<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>page</title>
</head>
<body>
  <h1>Home</h1>
  <a href="/signup">Sign Up!</a>
  <br>
  <a href="/login">Log In!</a>
  <form action="/logout" method="POST">
    <button>Logout</button>
  </form>
</body>
</html>
